body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #2C2C2C
}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}
img{
    display: block;
}
.container{
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

/**
  |============================
  | Navigation
  |============================
*/
.cont-header{
    display: flex;
    align-items: center;
}
.logo{
    display: inline-flex;
    width: 66px;

}
.navigation {
    margin-left: auto;
}

.nav-list {
    display: flex;
    gap: 28px;
}

.nav-list-item {
}

.nav-link {
    
    font-weight: 700;
    color: inherit;
}

.active {
color: #BBF330;
text-decoration: underline;
}



.nav-button {
    font-family: inherit;
border-radius: 30px;
background: var(--Button-green, #BBF330);
border: none;
font-size: 13px;
font-weight: 500;
margin-left: 30px;
padding: 6px 18px;
}
/**
  |============================
  | 
  |============================
*/



.hero {
    background: #FEFEFE;
    max-width: 502px;
}
.hero-title {
font-size: 48px;
font-weight: 700;
line-height: 1.2;
}
.hero-text {
line-height: 1.5;
font-size: 16px;
}
.nav-button {
}
